serverAddr = "xxx.yourdomainorip.com"
serverPort = 7000
# token for proxy
auth.token = "yourtoken"
# web server
webServer.addr = "127.0.0.1"
webServer.port = 7401
webServer.user = "admin"
webServer.password = "admin"

# 暴露管理页面到公网
[[proxies]]
name = "RDPManger"
type = "http"
localIP = "127.0.0.1"
localPort = 9107 # 对应本项目的端口号, 默认端口是9107
customDomains = ["rdpm.xxx.yourdomain.com"]

# 暴露rdp端口到公网,名称必须是remote2开头
[[proxies]]
name = "remote2company"
type = "tcp"
localIP = "127.0.0.1"
localPort = 3389
remotePort = 19954 # 对应frps的暴露端口
